.default-svg-container.language-map{
  .dropdown.btn-group {
    position: absolute;
  }
  .btn-group-vertical {
    position: absolute;
    button {
      height: 5px;
    }
  }
}

.chicago-community {
  fill: none;
  stroke: green;
}
